* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.post-container {
  display: grid;
  justify-items: center;
}
.post {
  padding: 10px;
  margin: 5px;
  border: 1px solid #111827;
  background-color: #bda9d4;
  border-radius: 20px;
  width: 50%;
}

#comment-container {
  margin-top: 10px;
  background-color: #f0d3f7;
  display: grid;
  justify-items: center;
  padding: 20px;
  border-radius: 30px;
}

#comment {
  border: 1px solid #111827;
  background-color: #c084fc;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}
